.about {
    background-color: #0d0d0d;
    color: #eee;
    padding: 5rem 2rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .about p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ccc;
  }
  
body{
    background-color: #0d0d0d;
}