.navbar {
    transition: all 0.3s ease;
  }
  
  .navbar-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .navbar-visible {
    background: transparent;
    opacity: 1;
    pointer-events: auto;
  }

    .navbar a.nav-link:hover {
    text-decoration: underline;
  }
  